* {
    box-sizing: border-box;
}

a, a:active, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: cadetblue;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #bada55; /* such a badass color */
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper {
    padding: 10px;
    background-color: white;

    /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     */
}

.model-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*
    justify-content: space-between;
     */
}

.model {
    width: 280px;
    height: 280px;
}

.credit {

}
